*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #FFC60B;
    font-family: "Poppins", sans-serif;
}

 /* CABEÇALHO */

header {
    background-color: #1B1A17;
    height: 10%;
}

.caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}

h1 {
    color: #FFFFFF;
}
.lista_cabecalho {
    display: flex;
    
}


a {
    color: #FFFFFF;
    margin: 0 15px 0 15px;
    text-decoration: none;
    font-size: 20px;
}

/* BANNER */

.banner {
    width: 100%;
}

/* sneakerheads */

.principal {
    padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
    background-color: #FFC60B;
}

.titulo-principal {
    text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.lista-artistas {
    width: 940px;
	margin: 0 auto;
	padding: 50px 0;
    display: flex;
}

.imagem-card {
    width: 200px;
}

.artistas-descricao {
    font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

.lista-artistas li {
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

footer {
    background-color: #1B1A17;
    height: 150px;
}

footer h2 {
    color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
}