@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@300 & display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #FFF2CC;
    --cor-secundaria: #231F20;
    --cor-terciaria: #C07F00;
    --cor-branca: #FFFFFF;

    --fonte-primaria: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    box-sizing: border-box;
}

/* DIVISÃO FÓRUM */
.div-forum {
    background-color: var(--cor-terciaria);
    padding: 25px 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.div-forum img {
    height: 5rem;
    border-radius: 100%;

}

/* MAIN */
main h2 {
    margin: 20px 0 0 0;
    font-size: 35px;
    text-align: center;
}
.apresentacao {
    padding: 50px;
    line-height: 30px;
}

.topicos_tenis {
    margin-left: 300px;
    text-align: center;
}

.topicos {
    margin-bottom: 15px;
}

.topicos_lista_tenis {
    width: 700px;
    border: 3px solid var(--cor-secundaria);
    border-radius: 5px;
    list-style-type: none;
}

.topicos_titulo_tenis {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 25px;
}

.marcas_tenis {
    display: inline-block;
    background-color: var(--cor-terciaria);
    border-radius: 3px;
}

/* POSTAGENS */
.postagem_conteudo {
    list-style-type: none;
    border: 3px solid #231F20;
    border-radius: 5px;
    line-height: 30px;
}

.postagem h2 {
    padding-bottom: 25px;
}

.postagem_conteudo_lista {
    margin-top: 10px;
}

/* DÚVIDA */
.duvida {
    background-color: var(--cor-primaria);
    margin: 20px 10px 20px 10px;
    text-align: center;
}

.duvida fieldset {
    display: inline-block;
    position: static top;
}

.duvida form {
    margin: 20px 10px 20px 10px;
}
