/* Menu */
.caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: #1B1A17;
    height: 1.5rem;
    top: 0;
    left: 0;
}

.menu h1 {
    color: #FFFFFF;
}

.menu nav ul {
    list-style-type: none;
    display: flex;
    padding-right: 2rem;
}

.menu a {
    color: #FFFFFF;
    margin: 0 15px 0 15px;
    text-decoration: none;
    font-size: 20px;
}

/* Header */
.header {
    background-image: url("../img/sneaker1.jpg");
    background-size: auto 45rem;
    background-position: right bottom;
    height: 2cm;
    margin-top: 3.5rem;
    height: auto;
    padding: 2rem;
}

.img {
    height: 265px;
    border: none;
    border-radius: 200px; 
    box-shadow: 0px 30px 35px black;
    
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    color: #faa41b;
    text-align: center;
    margin-top: 3rem;
}

/* Main Content */
.container {
    height: 10cm;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.mid {
    background: greenyellow;
}

.right {
    background: red;
    padding: 2rem 1rem;
    color: #FFFFFF;
}

.right nav ul {
    list-style-type: none;
    padding-top: 1rem;
}

.right a {
    color: #FFFFFF;
    margin: 0 15px 0 15px;
    text-decoration: none;
}

.right a:hover {
    color: black;
    text-decoration:underline;
    transition: 0.5s;
}

/* Footer */
.footer {
    background: white;
    height: 2cm;
}