@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Menu */
.hold {
    height: 3.5rem;
}

.caixa {
    font-family: "Poppins", sans-serif;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.7rem 1.5rem;
    background-color: #1B1A17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
}

.menu h1 {
    color: #FFFFFF;
}

.menu nav ul {
    list-style-type: none;
    display: flex;
    padding-right: 2rem;
}

.menu a {
    color: #FFFFFF;
    margin: 0 15px 0 15px;
    text-decoration: none;
    font-size: 20px;
}


/* Footer */
footer{
    background-color: #1B1A17;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.contato{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    font-size: 18px;
    color: white;
}


.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
}

.redes > a{
    color: black;
    font-size: 50px;
}

#copyright {
    color: white;
    font-size: 0.8rem;
    align-self: center;
    text-align: right;
}