:root {
    --primary-color: #0A1128;
    --main-color: linear-gradient(-45deg, #000000, #FFd966);;
    --light-gray-color: #eee;
    --secondery-color: crimson;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}


#total {
    background: var(--light-gray-color);
    color: #0A1128;
}

.super-bg {
    background: var(--main-color);
    color: var(--primary-color);
}

.secondary-bg {
    background: var(--primary-color);
    color: var(--light-gray-color);
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}

.grid-main-heading {
    color: #eee;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.main-content {
    max-width: 120rem;
    margin:auto;
    padding: 10rem var(--gap);
}

.intro-img img {
    max-width: 70%;
    min-width: 400px;
    height: auto;
    border-radius: 20%;
}

.intro-img img {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: flex;
}

.grid div {
    margin: 4rem;
}