:root {
    --primary-color: linear-gradient(-45deg, #000000, #110237);
    --main-color: linear-gradient(-45deg, #000000, #FFd966);
    --light-gray-color: #eee;
    --secondery-color: crimson;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
}

p {
    margin-top: 1rem;
}



.super-bg {
    /* background: var(--main-color); */
    background-image: url("../img/sneaker2.jpg");
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.3rem;
}

.secondary-bg {
    background: var(--primary-color);
    color: var(--light-gray-color);
    font-size: larger;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}

.grid-main-heading {
    color: #eee;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    /* min-height: 100vh; */
}

.main-content {
    /* max-width: 120rem; */
    margin:auto;
    padding: 10rem 5rem;
}

.intro-img img {
    max-width: 70%;
    min-width: 400px;
    height: auto;
    border-radius: 20%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}


.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* align-items: center; */
}

.intro-text-content > div {
    padding: 2rem;
    border-radius: 25px;
    border: 3px solid black;
    background: var(--main-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid div {
    margin: 4rem;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 25px;
    background: var(--main-color);
}

.grid div ul {
    list-style-type: none;

}

.grid-description {
    -webkit-text-stroke: #000000 2px;
    padding-left: 4.2rem;
    font-size: 3rem;
}

#valores {
    margin-top: 1rem;
}